
body {
  margin: 0;
  height: 100vh;
  background: #f6f1eb;
  font-family: "Georgia", serif;
}


.canvas {
  position: relative;
  width: 100%;
  height: 100%;
}


.theme {
  position: absolute;
  max-width: 320px;
  cursor: pointer;
  transition: all 0.4s ease;
}


.theme h1 {
  font-size: 32px;
  font-weight: 600;
  color: #3b2f2f;
  margin: 0;
  transition: all 0.4s ease;
}


.theme p {
  font-size: 17px;
  color: #8a7f78;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease;
  line-height: 22px;
}


.theme:hover h1 {
  font-size: 18px;
  letter-spacing: 1px;
  color: #6b5e56;
}


.theme:hover p {
  opacity: 1;
  transform: translateY(0);
}



.t1 { top: 15%; left: 10%; }
.t2 { top: 35%; right: 12%; }
.t3 { top: 55%; left: 25%; }
.t4 { bottom: 20%; right: 30%; }
.t5 { top: 10%; right: 40%; }


body::before {
  content: "The Circular Ruins";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 120px;          
  font-family: "Georgia", serif;
  font-weight: 700;
  color: rgba(59, 47, 47, 0.08); 
  
  white-space: nowrap;
  pointer-events: none;     
  z-index: 0;
}


.canvas {
  position: relative;
  z-index: 1;
}
a {
    text-decoration: none; 
    color: inherit; 
}